/**
base layer : is for things like reset rules or default styles applied to plain HTML elements.
components layer : is for class-based styles that you want to be able to override with utilities.
utilities layer : is for small, single-purpose classes that should always take precedence over any other styles.
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Proxima Nova, system-ui, sans-serif;
    color-scheme: light;
  }

  html[data-theme="dark"] {
    color-scheme: dark;
  }
}

@layer components {
  .hero__main {
    @apply flex xl:flex-row flex-col gap-3 relative;
  }

  .hero__title {
    @apply sm:text-6xl xl:text-7xl text-5xl font-bold;
  }

  .hero__subtitle {
    @apply sm:text-2xl xl:text-3xl text-xl font-light;
  }

  .button__main {
    @apply flex flex-row justify-center items-center outline-none;
  }

  .card__main {
    @apply grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-9;
  }

  .card__container {
    @apply flex justify-center;
  }

  .footer__main {
    @apply flex flex-col text-gray-300 dark:text-white border-t border-gray-300 mt-24;
  }

  .footer__container {
    @apply flex max-md:flex-col flex-wrap justify-between gap-3;
  }

  .footer__logo {
    @apply flex flex-col justify-start items-center;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-end {
    @apply flex items-center justify-end;
  }

  .flex-even {
    @apply flex items-center justify-evenly;
  }

  .p-x {
    @apply sm:px-9 px-6;
  }

  .p-y {
    @apply sm:py-6 py-3;
  }

  .max-width {
    @apply max-w-screen-2xl mx-auto;
  }
}
